<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>List Ingredients</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous"
          th:href="@{/webjars/bootstrap/4.5.0/css/bootstrap.min.css}">
</head>
<body>
<!--/*@thymesVar id="recipe" type="com.example.recipe.model.Recipe"*/-->
<!--/*@thymesVar id="ingredients" type="java.util.Set<com.example.recipe.commands.IngredientCommand>"*/-->
<div class="container-fluid" style="margin-top: 20px">
    <div class="row">
        <div class="col-lg-6 offset-md-3">
            <div class="card">
                <div class="card-header text-white bg-primary">
                    <h1 class="card-title">Ingredients</h1>
                </div>
                <div class="card-body">
                    <div class="table-responsive" th:if="${not #lists.isEmpty(recipe.ingredients)}">
                        <table class="table table-hover ">
                            <thead class="thead-inverse">
                            <tr>
                                <th>ID</th>
                                <th>Description</th>
                                <th>View</th>
                                <th>Update</th>
                                <th>Delete</th>
                            </tr>
                            </thead>
                            <tr th:remove="all">
                                <td>123</td>
                                <td>Tasty Goodness 1</td>
                                <td><a href="#">View</a>
                                </td>
                                <td><a href="#">Update</a>
                                </td>
                                <td><a href="#">Delete</a>
                                </td>
                            </tr>
                            <tr th:remove="all">
                                <td>12333</td>
                                <td>Tasty Goodness 2</td>
                                <td><a href="#">View</a>
                                </td>
                                <td><a href="#">Update</a>
                                </td>
                                <td><a href="#">Delete</a>
                                </td>
                            </tr>
                            <tr th:each="ingredient : ${recipe.ingredients}">
                                <td th:text="${ingredient.id}">334</td>
<!--                                &apos; is an apostrophe-->
                                <td th:text="${ingredient.amount} + &apos; &apos; + ${ingredient.uom.getDescription()} + &apos; &apos; + ${ingredient.description} + &apos;/show&apos;">Tasty Goodness 3</td>
                                <td><a href="#" th:href="@{&apos;/recipe/&apos; + ${recipe.id} + &apos;/ingredient/&apos; + ${ingredient.id} + &apos;/show&apos;}">View</a>
                                </td>
                                <td><a href="#" th:href="@{&apos;/recipe/&apos; + ${recipe.id} + &apos;/ingredient/&apos; + ${ingredient.id} + &apos;/update&apos;}">Update</a>
                                </td>
                                <td><a href="#" th:href="@{&apos;/recipe/&apos; + ${recipe.id} + &apos;/ingredient/&apos; + ${ingredient.id} + &apos;/delete&apos;}">Delete</a>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<footer>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
            integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"
            th:src="@{/webjars/bootstrap/4.5.0/js/bootstrap.min.js}"></script>
    <script src="/webjars/jquery/3.5.1/jquery.min.js"></script>
</footer>
</body>
</html>